body {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;

}

#header {
    font-size: 40px;
    font-family: 'Trade Winds', cursive;
    text-align: center;
    margin: -8px;
    padding: 15px;
    background: #2c2c2c;
    color: gray;
}

#password {
    color: gray;
    font-size: 40px;
    text-align: center;
    padding-top: 35px;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-bottom: 40px;
}

#gallows {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
    padding-left: 130px;
    padding-right: 20px;
    padding-bottom: 30px;
}

#alphabet {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
    padding-left: 20px;
    padding-right: 70px;
    padding-bottom: 30px;
}


.icon {
    margin-left: 30px;
    margin-right: 30px;
    filter: brightness(55%);
    transmition: all 2s ease;
}

.icon-change-color {
    filter: brightness(100%);
    transform: scale(1.5);
}

.icon-loser {
    color: red;
}


.letter {
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 12px;
    margin: 5px;
    cursor: pointer;
    width: 30px;
    height: 28px;
    filter: brightness(60%);
}

.letter:hover {
    filter: brightness(100%);
    transform: scale(1.15);
}


.end-message {
    padding-bottom: 60px;
    padding-top: 40px;
    font-size: 24px;
}

.repeat {
    font-size: 28px;
    color: red;
    cursor: pointer;
}

.repeat-winner {
    color: green;
}


#checkKnownPassword {
    margin: auto;
    color: gray;
    font-size: 27px;
    width: 350px;
    text-align: center;
    height: 50px;
    display: block;
}


#knownPassword {
	width: 350px;
    color: gray;
	text-align: center;
    padding-left: 45px;
    letter-spacing: 2px;
    cursor: pointer;
    filter: brightness(80%);
    display: flex;
}

#knownPassword:hover {
    filter: brightness(100%);
    transform: scale(1.3);
}

#formToPassword {
    display: none;
    clear: both;
}

input {
    margin: 10px;
    text-align: center;
    background-color: black;
    font-size: 17px;
    outline: 0;
    border-bottom-color: dimgrey;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    color: grey;
    letter-spacing: 3px;
}

#check {
    float: left;
    padding-left: 20px;
    font-size: 25px;
    filter: brightness(70%);
    color: white;
    margin: 10px;
}

#check:hover {
    filter: brightness(100%);
    transform: scale(1.3);
    cursor: pointer;
}


#wrongPass {
    display: none;
    clear: both;
    letter-spacing: 4px;
}

.i-style {
    margin-left: 13px;
    color: crimson;
}

#icon-spinner {
    display: none;
    padding-left: 175px;
    clear: both;
}



